ARK_API_KEYS=ark-key-one,ark-key-two
ARK_BASE_URL=https://ark.cn-beijing.volces.com/api/v3
ARK_PROXY_URL=socks5://127.0.0.1:2080
ARK_TIMEOUT_MS=120000
MEDIA_PREFLIGHT_TIMEOUT_MS=20000
MEDIA_PREFLIGHT_BYTES=2048
PORT=8787
