ARK_API_KEYS=ark-key-one,ark-key-two
ARK_BASE_URL=https://ark.cn-beijing.volces.com/api/v3
ARK_PROXY_URL=off
ARK_TIMEOUT_MS=120000
QWEN_CONSOLE_ENABLED=false
DASHSCOPE_API_KEY=
DASHSCOPE_VIDEO_ENDPOINT=https://dashscope-intl.aliyuncs.com/api/v1/services/aigc/video-generation/video-synthesis
DASHSCOPE_TASK_ENDPOINT=https://dashscope-intl.aliyuncs.com/api/v1/tasks
DASHSCOPE_TIMEOUT_MS=120000
MEDIA_PREFLIGHT_TIMEOUT_MS=20000
MEDIA_PREFLIGHT_BYTES=2048
LITTERBOX_EXPIRY=12h
LITTERBOX_UPLOAD_TIMEOUT_MS=60000
AUTOSAVE_ENABLED=false
AUTOSAVE_DIR=
AUTOSAVE_DOWNLOAD_TIMEOUT_MS=300000
PORT=8787
